<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="prima.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>ECOMMERCE</h1>




  <a th:href="@{/add}"><button>Inserisci</button></a>
  <a th:href="@{/aggiornamento}"><button>Aggiorna</button></a>
  <a th:href="@{/ricerca}"><button>Ricerca</button></a>


        <div class="container">
                <div class="row">
                    <div class="col-md-3">

                        <div class="card">
                            <h2 class="titolo">Air Force Nike</h2>
                            <p class="descrizione"> Nike Air Force 1 (GS), Scarpe da Ginnastica Basse Unisex-Bambini e Ragazzi</p>
                            <h5>120,00€</h5>
                            <img src="../res/nike.jpg" alt="">
                            <input type="button" class="btn btn-primary btn-block btn-outline" value="Acquista">
                        </div>
                    </div>


                </div>


        </div>




</body>
</html>